/lab/bai1/nbproject/private/
/lab/bai1/build/
lab/bai1/build.xml
lab/bai1/lib/nblibraries.properties
lab/bai1/lib/CopyLibs/org-netbeans-modules-java-j2seproject-copylibstask.jar
lab/bai1/manifest.mf
*.xml
*.properties
